ACTION=="add", SUBSYSTEM=="net", KERNEL=="eth*", IMPORT{program}="/bin/sleep 1"
SUBSYSTEM=="net", KERNEL=="eth*", RUN+="/usr/libexec/netconfig/scripts/cloud-netconfig-hotplug"
